# Lab 3 - Lab (Function) 
## Save the file as Lastname_first_name_Lab3.ipynb

Display your name and student number.

In [17]:
print('Name: Leonard Umoru \nStudent Number: 041152507')

Name: Leonard Umoru
Student Number: 041152507

Q1. Write a function to accept 2 value and find which is the biggest

In [20]:
def biggestno(a,b):
    if a > b:
        return (f'{a} is the biggest number') 
    else:
        return (f'{b} is the biggest number')  
    pass

In [22]:
biggestno(7, 5)

'7 is the biggest number'

Q2. write a function to find the sum of 3 numbers

In [25]:
def sum_three(n1,n2,n3):
    return n1 + n2 + n3
    pass

In [27]:
sum_three(2, 3, 7)

12

Q 3. Write a function that takes in an arbitrary number of arguments, and returns a list containing only those arguments that are even.

In [30]:
def even_numbers(*args):
    even_list = []
    for num in args:
        if num % 2 == 0:
            even_list.append(num)
    return even_list

In [32]:
even_numbers(1,2,3,4,5,6,7,8,9,10)

[2, 4, 6, 8, 10]

Q4. write a function to find the sum of n numbers

In [35]:
def sum_num(*args):
    return sum(args)

In [37]:
sum_num(1,2,3,4,5)

15

Q 5.Write a function that takes in a string, and returns a matching string where every even letter is uppercase, and every odd letter is lowercase.

In [40]:
def string_case(string_value):
    new_str = []
    for letter_index in range(len(string_value)):
        if letter_index % 2 == 0:
            new_str.append(string_value[letter_index].upper())
        else:
            new_str.append(string_value[letter_index].lower())
    return ''.join(new_str)

In [42]:
string_case('string')

'StRiNg'

Q6. Write a function to return a sentence with the words reversed

    fun_name('I am home') --> 'home am I'
    fun_name('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. 

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [45]:
def fun_name(text):
    raw_text = list(text)
    raw_text.reverse()
    return ''.join(raw_text)
    
    pass

In [47]:
fun_name('leonard')

'dranoel'

Q7. Write a program to return a string where for every character in the original there are three characters
   
   
   print_three('Hello') --> 'HHHeeellllllooo'
   
   print_three('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [50]:
def print_three(text):
    new_text = ''
    for letter in text:
      new_text += letter * 3
    return new_text
    pass

In [52]:
# Check
print_three('HelloWorld')

'HHHeeelllllloooWWWooorrrlllddd'

In [54]:
# Check
print_three('Ottawa')

'OOOttttttaaawwwaaa'

Q 8. Write a function to accept three integers between 1 and 9, if their sum is less than or equal to 15, return their sum. If their sum exceeds 15 return 'OMG'

In [57]:
def too_much(a,b,c):
    if not(1 <= a < 10 and 1 <= b < 10 and 1 <= c < 10):
        return 'Input must be between 1 and 9'

    sum = a + b + c

    if sum <= 15:
        return sum
    else:
        return 'OMG'
    pass

In [59]:
too_much(1,10,9)

'Input must be between 1 and 9'

## Great Job!